{% extends "index.html" %}

{% block form %}
{% load crispy_forms_tags %}

<div class="container">
	<div class="block-content mt-2 mb-3">
		<div class="block-header"></div>
		<div class="block-body">
			<h1 class="block-title">
				Evaluación Inicial: Cocreando tu emprendimiento
			</h1>
			<div class="block-description">
				<div class="asteriskField mt-3">*Obrigatório</div>
			</div>
		</div>
	</div>
	<div class="block-content mb-3">
		<div class="block-header">
			<div class="header-title">Información personal</div>
		</div>
		<div class="block-body">
			<div class="block-description pt-2 font-size-12px">
				Esta información es principalmente para fines estadísticos.<br>
				Solamente tu nombre es obligatorio, el resto de la información es optativa.<br>
				Puedes ver nuestro aviso de privacidad en <a href="www.devas.mx/aviso.html">www.devas.mx/aviso.html</a>
			</div>
		</div>
	</div>
	<form action="" method="post">
		<div class="block-content mb-2">
			<div class="block-body pt-4">
				{% csrf_token %}
			    {{ form|crispy }}
			</div>
		</div>
	    <a href="{% url 'step4' %}" class="btn button">Voltar</a>
	    <input type="submit" class="btn button submit" value="Enviar">
	</form>
</div>
{% endblock %}