{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block form %}
<div class="container">
	<div class="block-content mt-2 mb-3">
		<div class="block-header"></div>
		<div class="block-body">
			<h1 class="block-title">
				Evaluación Inicial: Cocreando tu emprendimiento
			</h1>
			<div class="block-description">
				<div class="asteriskField mt-3">*Obrigatório</div>
			</div>
		</div>
	</div>
	<div class="block-content mb-3">
		<div class="block-header">
			<div class="header-title">Sobre tu proyecto de emprendimiento</div>
		</div>
		<div class="block-body">
			<div class="block-description pt-2 font-size-12px">
				Cuéntame en qué consiste tu proyecto y su alcance
			</div>
		</div>
	</div>
	<form action="" method="post">
		{% csrf_token %}
	    {{ form|crispy }}
	    <a href="{% url 'step1' %}" class="btn button">Voltar</a>
	    <input type="submit" class="btn button" value="Próxima">
	</form>
</div>
{% endblock %}